/SocialNetworkServer/DeadbeatSocialNetworkServer/nbproject/private/
/DeadbeatSocialNetworkServer/nbproject/private/
/DeadbeatSocialNetworkServer/build/
/DeadbeatSocialNetworkServer/dist/
/datagramClient/dist/
/Deadbeat Package/nbproject/private/
/Deadbeat Package/build/
/ChatServer/nbproject/private/
/ChatServer/build/